
@font-face {
  font-family: 'Roboto Mono';
  src: url('fonts/RobotoMono-Bold.woff2') format('woff2'),
       url('fonts/RobotoMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  position: relative;
  font-family: 'Roboto Mono', sans-serif;
  margin: 0;
  background-color: #C8C8C9;
  /* line-height: 1.5; */
}

.main-wrapper {
  min-height: 100vh;
  /* min-height: 100dvh; */
}

img {
  max-width: 100%;
}

.gallery--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5em;
}

#gallery {
  /* padding-top: 7em; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery-img {
  width: 230px;
  max-width: 100%;
  border: 2px solid #C8C8C9;
}

header {
  position: fixed;
  padding: .3em;
  width: 100%;
  background-color: #C8C8C9;
}

/* test header */
/* header {
  position: fixed;
  padding-top: 6px;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 6px;
  background: rgb(255 255 255 / 64%);
  width: 100%;
} */

.container {
  width: 96%; 
  max-width: 1200px;
  margin: 0 auto;
  /* border: solid black 1px; */
}

.container--flex {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid green; */
}

.nav__menu {
  display: flex;
  list-style-type: none;
  gap: 2em;
  padding: 0;
  margin: 0 0 0 2em;
}

.nav__link {
  text-decoration: none;
  color: #191B27;
  font-size: 1.1rem;
  /* line-height: 2.638em; */
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.4px rgb(255 255 255 / 81%);
}

.nav__link:hover, 
.nav__link:focus {
  /* text-decoration: underline; */
  text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.4);
  -webkit-text-stroke: 0.6px rgba(255, 255, 255, 81%);
}

.small-logo-container {
  display: flex;
  align-items: center;
  width: 3em;
  min-width: 2em;
  pointer-events: all;
  /* try out for logo disappear on scroll */
  /* opacity: 1;
  transition: opacity .4s ease-in-out; */
}

.main-logo {
  max-width: 30.500em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  /* changed bottom padding from 1 to 4 */
  padding: 0 1em 4em 1em;
  padding-top: 100px;
  /* border: 1px solid green; */
}

.section {
  /* background-color: rgba(12, 7, 7, 0.275); */
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(200,200,201,1) 89%);
  padding-top: 7rem;
}

.hamburger {
  display: none;
  cursor: pointer;
  /* changed */
}

.bar {
  display: block;
  width: 32px;
  height: 5px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: black;
  /* changed */
  border: 1px solid white;
}

.cta-btns-container-main {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 210px;
  height: 129px;
  /* border: 1px solid green; */
}

.cta-btn {
  display: none;
  width: 210px;
  padding: 0.632em;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  /* typography */
  color: #000;
  text-align: center;
  font-size: 19px;
  font-family: Roboto Mono;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: 1.14px;
}

.cta-btn--contact {
  border-radius: 8px;
  background: #FFF;
}

.cta-btn--gallery {
  border-radius: 8px;
  background: #000;
  color: #FFF;
}

#modal[open] {
  padding: 1.5em;
  width: 40%;
  /* height: 60vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#modal::backdrop {
  background: black;
  opacity: .7;
}

.close-modal {
  font-weight: 200;
  font-size:xx-large !important; 
  /* bottom: 30px; */
  padding: 0px 16px;
  padding-bottom: 3px;
}

.close-modal,
.gallery-btn {
  position: absolute;
  background: none;
  border: none; 
  font-size: 2.5rem;
  z-index: 2;
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  background-color: rgba(0, 0, 0, .1);
}

.gallery-btn {
  top: 50%;
  transform: translateY(-50%);
  padding: 0 .5rem;
}

.gallery-btn.prev {
  left: 1rem;
}

.gallery-btn.next {
  right: 1rem;
}

.close-modal {
  bottom: 1.4rem;
}

#current-image {
  max-width: 100%;
  width: 100%;
  border: 2px solid #C8C8C9;
}

.gallery-h2 {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;

}
h2 {
  margin: 0px;
  padding: 20px;
  font-size: 1.6rem;
  text-decoration: underline;
  text-shadow: rgba(0, 0, 0, 0.25) 2px 2px 0px;
  -webkit-text-stroke: 1px rgb(255 255 255 / 81%);
}

.footer__separator {
  width: 6rem;
  height: .20rem;
  background-color:black;
  margin-top: 8rem;
  border: 1px solid white;
  border-radius: 2px;
}

.footer {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  gap: 1rem;
}

.footer__links-container {
  display: flex;
  align-items: center;
  gap: .6rem;
  line-height: 0;
}


/* was 1128, 100% */
@media (min-width: 1200px) {
  .container {
    width: 92%;
  }

  .small-logo {
    min-width: 5.5em;
  }
  
  .main-logo {
    max-width: 40.500em;
  } 
  .nav__link {
    font-size: 1.6rem;
  } 
}

/* smaller devices */
@media (max-width: 912px) {
  .cta-btn,
  .cta-btns-container-main {
    display: flex;
  }

  #modal[open] {
    padding: 1.5em;
    width: 90%;
  }
  

  .hamburger {
    display: block; 
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .nav__menu {
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    mix-blend-mode: difference;
  }
  
  .nav__item {
    margin: 16px;
  }
 
  .nav__menu.active {
    left: 0;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
    opacity: 0.9;
  }
}

/* don't forget to add #gallery and fixed menu! 
main logo padding 100px to em?
after click on menu to return button animation!!!
check if you can remove background flashes after clicking
add CTA button for mobile in @media
*/